<div class"row">
<h2>Modify: TV Show<%= tvshow.name %></h2>
<form class="col l12" action="/tvshows/<%= tvshow._id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="input-field col l12">
    <input type="text" name="name" id="name_field" value="<%= tvshow.name %>">
    <label for="name_field">Name</label>
</form>
  <div class="input-field col l12">
    <input type="text" name="popularity" id="popularity_field" value="<%= tvshow.popularity%>">
    <label for="popularity_field">Popularity</label>
  </div>
  <div class="input-field col l12">
    <input type="number" name="season" id="season_field" value="<%= tvshow.season %>">
    <label for="year_field">Seasons</label>
  </div>
  <div class="input-field col l12">
    <input type="text" name="image" id="image_field" value="<%= tvshow.image %>">
    <label for="image_field">Image</label>
  </div>
  <div class="input-field col l12">
    <button class="green btn">Confirm modification</button>
  </div>
</form>

</div>
