<h2 class="white-text center-align" id="Logo">TV Shows</h2>
  <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">All TV Shows</a></li>
          <% if(locals.isLoggedIn) {%>
          <li class="tab col s3"><a href="#test2">My Tv Shows</a></li>
            <% } %>
        </ul>
      </div>
<%# //----------ALL TABS----------------------------------------------------- %>
      <div id="test1" class="col s12">
        <% tvshows.forEach(tvshow => { %>
          <div class="col s12 m6">
            <div class="card horizontal amber darken-3">
            <div class="card-stacked">
              <div class="card-content white-text">
                <p class="card-title"><%= tvshow.name %></p>
                <div class="activator" class"card-content">
                <hr>
                <p>Seasons: <%= tvshow.season %></p>
                <p>Popularity: <%= tvshow.popularity %></p>
                <span class="card-title activator white-text text-darken-4">More info +<i class="material-icons right"></i></span>
                </div>
              </div>
              <div class="card-action">
                <a href="/tvshows/<%= tvshow._id %>" class="white-text">View</a>
                <a href="/tvshows/<%= tvshow._id %>/edit" class="white-text">Modify</a>
              </div>
            </div>
              <div class="card-image">
              <img src="<%= tvshow.image %>"style="width:300px;height:400px;">
              </div>
              <div class="card-reveal amber darken-6 white-text">
                <p class="card-title white-text text-darken-4"><%= tvshow.name %><i class="material-icons right">X</i></p>
                  <p>Genre: <%= tvshow.genre %></p>
                  <p>Platform: <%= tvshow.platform %></p>
                  <p>Seasons: <%= tvshow.season %></p>
                  <p>Popularity: <%= tvshow.popularity %></p>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
<%# //----------MY TABS------------------------------------------------------ %>
      <% if(locals.isLoggedIn) {%>
      <div id="test2" class="col s12">
        <% tvshows.forEach(tvshow => {
            if((tvshow.user && tvshow.user.id) === locals.user.id){ %>
              <div class="col s12 m6">
                <div class="card horizontal amber darken-3">
                <div class="card-stacked">
                  <div class="card-content white-text">
                    <p class="card-title"><%= tvshow.name %></p>
                    <div class="activator" class"card-content">
                    <hr>
                    <p>Seasons: <%= tvshow.season %></p>
                    <p>Popularity: <%= tvshow.popularity %></p>
                    <span class="card-title activator white-text text-darken-4">More info +<i class="material-icons right"></i></span>
                    </div>
                  </div>
                  <div class="card-action">
                    <a href="/tvshows/<%= tvshow._id %>" class="white-text">View</a>
                    <a href="/tvshows/<%= tvshow._id %>/edit" class="white-text">Modify</a>
                  </div>
                </div>
                  <div class="card-image">
                  <img src="<%= tvshow.image %>"style="width:300px;height:400px;">
              </div>
              <div class="card-reveal amber darken-6 white-text">
                <p class="card-title white-text text-darken-4">Card Title<i class="material-icons right">X</i></p>
                  <p>Genre: <%= tvshow.genre %></p>
                  <p>Platform: <%= tvshow.platform %></p>
                  <p>Seasons: <%= tvshow.season %></p>
                  <p>Popularity: <%= tvshow.popularity %></p>
              </div>
            </div>
          </div>
          <% } %>
        <% }) %>
        <% } %>
      </div>
    </div>
