<div class='center-align'>
  <div class="row">
    <h3 class="col l10"><%= tvshow.name %></h3>
      <div class="col 12">
        <img src="<%= tvshow.image %>"style="width:300px;height:400px;">
        <form action="/tvshows/<%= tvshow.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
        <button class="btn red">Delete Show</button>
      </form>
    </div>
  </div>
  <div class='row'>
  <div class="card-image">
  <p>Comments</p>
<form class="col l12" action="/tvshows/<%= tvshow._id/reviews %>" method="post">
  <div class="input-field col l12">
    <input type="text" name="content" id="comment_field" >
    <label for="comment_field">Write a review</label>
  </div>
  <div class="input-field col l12">
    <button class="green btn">Post</button>
  </div>
</form>
  <% tvshow.review.forEach(review => { %>
      <div class="col s16 m16">
      <div class="card">
        <div class="card-image">
          <img src="<%= review.url %>">
        </div>
          <div class="card-content">
            <ul>
              <% review.comment.forEach(comment => { %>
                <li><%= comment %></li>
              <% }) %>
            </ul>
        </div>
        <div class="card-action">
          <form method ="POST"action ="/reviews/<%= review._id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="red btn">Deletion</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
</div>
</div>
</div>
