<%#  %>
<% if(messages){ %>
  <% for (type in messages) { %>
  <div class="col s12 l12">
    <div class="card blue lighten-3">
      <div class="card-content black-text">
        <span class="card-title"><%= messages[type] %></span>
      </div>
    </div>
  </div>
<% } %>
<% } %>
<div class="col s12 m6 l10 tile">
    <h2 class="header"><%= tvshow.name %></h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= tvshow.image %>"style="width:300px;height:400px;">
      </div>
      <div class="card-stacked">
        <div class="card-content" id="content1">
<%# //----------SHOW Reviews------------------------------------------------- %>
          <% tvshow.reviews.forEach(review => { %>
              <div class="col s16 m16">
              <div class="card">
                <div class="card-image">
                </div>
                  <div class="card-content">
                    <p>
                      <%= review.content %> Posted by : <% if(review.user){%><%= review.user.username %>
                      <% } %>
                    </p>
                </div>
                <div class="card-action">
                  <form method ="POST"action ="/tvshows/<%= tvshow._id %>/reviews/<%= review._id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="red btn">Deletion</button>
                  </form>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
<%# //----------------------------------------------------------------------- %>
  <div class='row'>
  <div class="card-image">
    <form action="/tvshows/<%= tvshow.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
    <button class="btn red">Delete Show</button>
  </form>
  <p>Comments</p>
<form class="col l12" action="/tvshows/<%= tvshow._id %>/reviews" method="post">
  <div class="input-field col l12">
    <input type="text" name="content" id="comment_field" maxlength="60" >
    <label for="comment_field">Write a review</label>
  </div>
  <div class="input-field col l12">
    <%# <a onclick="M.toast({html: 'You have commented!'})"</a> %>
    <button class="green btn">Post</button>
  </div>
</form>
</div>
</div>
</div>
